{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta_tags %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    <title>
         {% block title %}{% trans "Labeeb Web Site" %}{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    {% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body style="padding-top: 70px">
    <header>
        {% block header %}
            {% include "snippets/navbar.html" %}
        {% endblock %}
    </header>
    <div id="main" role="main">
        <div id="container" class="container">
            {% block container %}
                {% include 'snippets/alerts/messages.html' %}
            {% endblock %}
        </div>
    </div>
{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% endblock %}
</body>
</html>
